/* SWEETALERT2 */
/* .swal2-popup {
    background-color: #1B1315;
    color: #FAA300;
}

.swal-toast {
    background-color: #1B1315;
    color: #FAA300;
}

.swal2-title {
    font-weight: 800;
} */


    /* TYPES OF BOLD */
    .bold-text-100 {
        font-weight: 100;
    }
    
    .bold-text-200 {
        font-weight: 200;
    }

    .bold-text-300 {
        font-weight: 300;
    }
    
    .bold-text-400 {
        font-weight: 400;
    }

    .bold-text-500 {
        font-weight: 500;
    }
    
    .bold-text-600 {
        font-weight: 600;
    }

    .bold-text-700 {
        font-weight: 700;
    }
    
    .bold-text-800 {
        font-weight: 800;
    }

    .bold-text-900 {
        font-weight: 900;
    }
    
    .bold-text-1000 {
        font-weight: 1000;
    }
    /* END OF TYPES OF BOLD */


    /* COLORS */
    /* ORANGE */
    .high-orange-c-as-bg {
        font-weight: 700;
        color: #FAA300;
    }

    .high2-orange-c-as-bg {
        font-weight: 700;
        color: #533600;
    }

    /* BLACK */
    .black-bold {
        font-weight: 700;
        color: #262626;
    }

    /* BLUE */
    .low-blue-c-as-bg {
        font-weight: 700;
        color: #BAC2C9;
    }

    .high-blue-c-as-bg{
        font-weight: 700;
        color: #084144;
    }

        .low-blue-c {
            color: #149da7;
        }

    /* GREEN */
    .high-green-c-as-bg2{
        font-weight: 700;
        color: #094e0b;
    }

        .high-green-c-as-bg {
            color: #4CAF50;
        }

    .high-green2-c-as-bg2{
        font-weight: 700;
        color: #0d6810;
    }

        .low-green2-c {
            color: #3dd342;
        }

    /* RED */
    .high-red-c-as-bg{
        font-weight: 700;
        color: #510303;
    }

        .low-red-c {
            color: #D92D2D;
        }

    .high-red2-c-as-bg{
        font-weight: 700;
        color: #750505;
    }

        .low-red2-c {
            color: #f12424;
        }
    /* END OF THE COLORS */

/* .swal2-footer {
    background-color: #1B1315;
    color: #FAA300;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #1B1315;
    font-weight: 800;
    font-size: large;
    margin: 20px 60px 0 60px;
    border-radius: 5px;
} */